<!-- FIRST POP-UP -->
<div class="modal-box" id="first">
    <div class="inner">
        <button class="close">&times;</button>
        1

        <a href="#first" class="modal-box test1">Open modal-box 1</a>
        <a href="#first2" class="modal-box test2">Open modal-box 2</a>
        <a href="#first3" class="modal-box test3">Open modal-box 3</a>
        <a href="#first4" class="modal-box test4">Open modal-box 4</a>
    </div>
</div>

<!-- FIRST POP-UP -->
<div class="modal-box" id="first2">
    <div class="inner">
        <button class="close">&times;</button>
        2

        <a href="#first" class="modal-box test1">Open modal-box 1</a>
        <a href="#first2" class="modal-box test2">Open modal-box 2</a>
        <a href="#first3" class="modal-box test3">Open modal-box 3</a>
        <a href="#first4" class="modal-box test4">Open modal-box 4</a>
    </div>
</div>

<!-- FIRST POP-UP -->
<div class="modal-box" id="first3">
    <div class="inner">
        <button class="close">&times;</button>
        3

        <a href="#first" class="modal-box test1">Open modal-box 1</a>
        <a href="#first2" class="modal-box test2">Open modal-box 2</a>
        <a href="#first3" class="modal-box test3">Open modal-box 3</a>
        <a href="#first4" class="modal-box test4">Open modal-box 4</a>
    </div>
</div>

<!-- FIRST POP-UP -->
<div class="modal-box" id="first4">
    <div class="inner">
        <button class="close">&times;</button>
        4

        <a href="#first" class="modal-box test1">Open modal-box 1</a>
        <a href="#first2" class="modal-box test2">Open modal-box 2</a>
        <a href="#first3" class="modal-box test3">Open modal-box 3</a>
        <a href="#first4" class="modal-box test4">Open modal-box 4</a>
    </div>
</div>