<ul id="nav" class="nav hidden-xs hidden-sm" data-spy="affix">
    <li><a href="#howToUse" class="scroll-to">How to use</a></li>
    <li><a href="#options" class="scroll-to">Options</a></li>
    <li><a href="#events" class="scroll-to">Events</a></li>
    <li><a href="#methods" class="scroll-to">Methods</a></li>

    <li>
        <a href="https://github.com/vladrub/jquery.modalBox/archive/master.zip" class="btn"><i class="glyphicon glyphicon-download-alt"></i> Download as .zip</a>
    </li>
</ul>