@import "compass";

*, *:focus, *:active { outline: 0 !important; }

// ************************************************************************************
// SIDEBAR
// ************************************************************************************

/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  .nav>li>a {
    color: #fff;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 16px;
    font-weight: 400;
  }

  .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 15px;
  }

  /* active & hover links */
  .nav>.active>a,
  .nav>li>a:hover,
  .nav>li>a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #563d7c;
  }

  /* all active links */
  .nav>.active>a,
  .nav>.active:hover>a,
  .nav>.active:focus>a {
    font-weight: 700;
  }
  /* nested active links */
  .nav .nav>.active>a,
  .nav .nav>.active:hover>a,
  .nav .nav>.active:focus>a {
    font-weight: 500;
  }

  /* hide inactive nested list */
  .nav ul.nav {
    display: none;
  }
  /* show active nested list */
  .nav>.active>ul.nav {
    display: block;
  }
}

// ************************************************************************************
// CONTENT
// ************************************************************************************

body {
  color: white;
  background: #337ab7;
  font-family: 'Roboto', sans-serif;

  header {
    background: white;
  }

  main {
    font-size: 16px;

    a { color: #fff; }
    a:hover { color: #563d7c; }

    .prettyprint {
      background: #142f47;
      border-color: black;

      &.linenums {
        box-shadow: 40px 0 0 #000 inset, 41px 0 0 #000 inset;
      }
    }

    .table-striped > tbody > tr:nth-of-type(2n+1) {
      background-color: #2a6496;
    }

    .table > thead > tr > th {
      border-bottom: 2px solid #142f47;
    }
  }
}