@import "compass";

*, *:focus, *:active { outline: 0 !important; }

// ************************************************************************************
// SIDEBAR
// ************************************************************************************

/* sidebar */
.nav .active {
  font-weight: bold;
  background: #2a6496;
}

.nav a:hover {
  font-weight: bold !important;
  background: #2a6496 !important;
  color: white !important;
  text-decoration: underline !important;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.affix {
  top: 0;
}

#nav {
  width: 213px;
}

.qtip-content pre {
  margin-bottom: 0 !important;
}

// ************************************************************************************
// CONTENT
// ************************************************************************************

body {
  color: white;
  background: #337ab7;
  font-family: 'Roboto', sans-serif;
  position: relative;

  header {
    background: white;
  }

  main {
    font-size: 16px;

    a { color: #fff; }
    a:hover { color: #563d7c; }

    section {
      h1 {
        span.glyphicon {
          font-size: 22px;
          margin-right: 15px;
        }
      }
    }

    section:not(:last-child) { margin-bottom: 60px }

    .prettyprint {
      background: #142f47;
      border-color: black;

      &.linenums {
        box-shadow: 40px 0 0 #000 inset, 41px 0 0 #000 inset;
      }
    }

    .table-striped > tbody > tr:nth-of-type(2n+1) {
      background-color: #2a6496;
    }

    .table > thead > tr > th {
      border-bottom: 2px solid #142f47;
    }

    .table tr > td {
      border: none !important;
    }

    section#demo {
      ul {
        padding: 0;
        list-style: none;

        li {
          background: #142f47;
          padding: 5px;
          margin-bottom: 10px;
        }
      }
    }
  }
}