/* line 3, ../scss/demo.scss */
*, *:focus, *:active {
  outline: 0 !important;
}

/* sidebar */
/* line 10, ../scss/demo.scss */
.nav .active {
  font-weight: bold;
  background: #2a6496;
}

/* line 15, ../scss/demo.scss */
.nav a:hover {
  font-weight: bold !important;
  background: #2a6496 !important;
  color: white !important;
  text-decoration: underline !important;
}

/* line 22, ../scss/demo.scss */
.nav .nav {
  display: none;
}

/* line 26, ../scss/demo.scss */
.nav .active .nav {
  display: block;
}

/* line 30, ../scss/demo.scss */
.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

/* line 35, ../scss/demo.scss */
.nav .nav span {
  margin: 0 5px 0 2px;
}

/* line 39, ../scss/demo.scss */
.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

/* line 47, ../scss/demo.scss */
.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

/* line 53, ../scss/demo.scss */
.affix {
  top: 0;
}

/* line 57, ../scss/demo.scss */
#nav {
  width: 213px;
}

/* line 61, ../scss/demo.scss */
.qtip-content pre {
  margin-bottom: 0 !important;
}

/* line 69, ../scss/demo.scss */
body {
  color: white;
  background: #337ab7;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
/* line 75, ../scss/demo.scss */
body header {
  background: white;
}
/* line 79, ../scss/demo.scss */
body main {
  font-size: 16px;
}
/* line 82, ../scss/demo.scss */
body main a {
  color: #fff;
}
/* line 83, ../scss/demo.scss */
body main a:hover {
  color: #563d7c;
}
/* line 87, ../scss/demo.scss */
body main section h1 span.glyphicon {
  font-size: 22px;
  margin-right: 15px;
}
/* line 94, ../scss/demo.scss */
body main section:not(:last-child) {
  margin-bottom: 60px;
}
/* line 96, ../scss/demo.scss */
body main .prettyprint {
  background: #142f47;
  border-color: black;
}
/* line 100, ../scss/demo.scss */
body main .prettyprint.linenums {
  box-shadow: 40px 0 0 #000 inset, 41px 0 0 #000 inset;
}
/* line 105, ../scss/demo.scss */
body main .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #2a6496;
}
/* line 109, ../scss/demo.scss */
body main .table > thead > tr > th {
  border-bottom: 2px solid #142f47;
}
/* line 113, ../scss/demo.scss */
body main .table tr > td {
  border: none !important;
}
/* line 118, ../scss/demo.scss */
body main section#demo p {
  margin: 0;
}
/* line 120, ../scss/demo.scss */
body main section#demo p a {
  background: #142f47;
  margin-bottom: 10px;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
}
/* line 127, ../scss/demo.scss */
body main section#demo p a:hover {
  color: white;
  text-decoration: underline;
}
/* line 134, ../scss/demo.scss */
body main section#demo ul {
  padding: 0;
  list-style: none;
}
/* line 138, ../scss/demo.scss */
body main section#demo ul li {
  background: #142f47;
  padding: 5px;
  margin-bottom: 10px;
}
