{% include header.html %}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3 scrollspy">
                {% include sidebar.html %}
            </div>

            <div class="col-md-9">
                <section id="demo">
                    <a href="#first" class="modal-box test1">Open modal-box 1</a>
                    <a href="#first2" class="modal-box test2">Open modal-box 2</a>
                    <a href="#first3" class="modal-box test3">Open modal-box 3</a>
                    <a href="#first4" class="modal-box test4">Open modal-box 4</a>
                </section>

                <section id="howToUse">

                    <h1><span class="glyphicon glyphicon-question-sign"></span> How to use</h1>
                    <p>Include plugin files:</p>

                    <pre class="prettyprint lang-html linenums">{% capture my_include %}{% include codes/includeFiles.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <p>Add modal  after <code>&lt;body&gt</code> tag:</p>
                    <pre class="prettyprint lang-html linenums">{% capture my_include %}{% include codes/modal.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <p>Show modal button:</p>
                    <pre class="prettyprint lang-html linenums">{% capture my_include %}{% include codes/button.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <p>Call the plugin when the body is on load:</p>
                    <pre class="prettyprint lang-js linenums">{% capture my_include %}{% include codes/callPlugin.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                </section>

                <section id="options">
                    <h1><span class="glyphicon glyphicon-cog"></span> Options</h1>

                    <table class="table table-striped table-popover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Property</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>openAnimationDuration</td>
                            <td>number</td>
                            <td>500</td>
                            <td>Set animation duration when opening modal</td>
                        </tr>
                        <tr>
                            <td>closeAnimationDuration</td>
                            <td>number</td>
                            <td>500</td>
                            <td>Set animation duration when closing modal</td>
                        </tr>
                        <tr>
                            <td>animationOpenEffect</td>
                            <td>string</td>
                            <td>default-in</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>animationCloseEffect</td>
                            <td>string</td>
                            <td>default-out</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>closeOnEscape</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Allows the user to close the modal when press escape key.</td>
                        </tr>
                        <tr>
                            <td>autoClose</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Automatically close modal window.</td>
                        </tr>
                        <tr>
                            <td>autoCloseDelay</td>
                            <td>number</td>
                            <td>3000</td>
                            <td>Automatically close delay.</td>
                        </tr>
                        </tbody>
                    </table>
                </section>

                <section id="events">
                    <h1><span class="glyphicon glyphicon-flash"></span> Events</h1>

                    <pre class="prettyprint lang-js linenums">{% capture my_include %}{% include codes/events/howTo.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <table class="table table-striped table-popover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tip">
                            <td>
                                beforeOpen
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/events/beforeOpen.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>Before open modal</td>
                        </tr>
                        <tr class="tip">
                            <td>
                                afterOpen
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/events/afterOpen.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>After open modal</td>
                        </tr>


                        <tr class="tip">
                            <td>
                                beforeClose
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/events/beforeClose.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>Before close modal</td>
                        </tr>
                        <tr class="tip">
                            <td>
                                afterClose
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/events/afterClose.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>After close modal</td>
                        </tr>
                        </tbody>
                    </table>
                </section>

                <section id="methods">
                    <h1><span class="glyphicon glyphicon-plus"></span> Methods</h1>

                    <p>Accessing the API</p>
                    <pre class="prettyprint lang-js linenums">{% capture my_include %}{% include codes/api.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <table class="table table-striped table-popover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tip">
                            <td>
                                open
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/apiOpen.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>Open modal</td>
                        </tr>
                        <tr class="tip">
                            <td>
                                close
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/apiClose.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>Close modal</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}