{% include header.html %}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3 scrollspy">
                {% include sidebar.html %}
            </div>

            <div class="col-md-9">
                <section id="demo">
                    <h1>Demo</h1>

                    <p>
                        Bounce effects:
                        <a href="#demoModal" class="modal-box" data-animation-open="bounceIn" data-animation-close="bounceOut">bounceIn</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="bounceInDown" data-animation-close="bounceOutUp">bounceInDown</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="bounceInUp" data-animation-close="bounceOutUp">bounceInUp</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="bounceInLeft" data-animation-close="bounceOutRight">bounceInLeft</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="bounceInRight" data-animation-close="bounceOutLeft">bounceInRight</a>
                    </p>

                    <p>
                        Fade effects:
                        <a href="#demoModal" class="modal-box" data-animation-open="fadeIn" data-animation-close="fadeOut">fadeIn</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="fadeInDown" data-animation-close="fadeOutUp">fadeInDown</a>
                        <a href="#demoModal" class="modal-box"
                           data-animation-open="fadeInDownBig"
                           data-animation-close="fadeOutUpBig"
                           data-animation-open-duration="700"
                           data-animation-close-duration="700">fadeInDownBid</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="fadeInUp" data-animation-close="fadeOutDown">fadeInUp</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="fadeInUpBig" data-animation-close="fadeOutUpBig">fadeInUpBig</a>

                        <a href="#demoModal" class="modal-box" data-animation-open="fadeInLeft" data-animation-close="fadeOutRight">fadeInLeft</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="fadeInLeftBig" data-animation-close="fadeOutRightBig">fadeInLeftBig</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="fadeInRight" data-animation-close="fadeOutLeft">fadeInRight</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="fadeInRightBig" data-animation-close="fadeOutLeftBig">fadeInRightBig</a>
                    </p>

                    <p>
                        Flip effects:

                        <a href="#demoModal" class="modal-box" data-animation-open="flipInX" data-animation-close="flipOutX">flipInX</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="flipInY" data-animation-close="flipOutY">flipInY</a>
                        <a href="#demoModal" class="modal-box"
                           data-animation-open="flip"
                           data-animation-close="fadeOut"
                           data-animation-open-duration="1000"
                           data-animation-close-duration="1000">flip</a>
                    </p>

                    <p>
                        Rotate effects:
                        <a href="#demoModal" class="modal-box" data-animation-open="rotateIn" data-animation-close="rotateOut">rotateIn</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="rotateInDownLeft" data-animation-close="rotateOutUpRight">rotateDownIn</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="rotateInDownRight" data-animation-close="rotateOutUpLeft">rotateInDownRight</a>

                        <a href="#demoModal" class="modal-box" data-animation-open="rotateInUpLeft" data-animation-close="rotateOutUpLeft">rotateInUpLeft</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="rotateInUpRight" data-animation-close="rotateOutDownLeft">rotateInUpRight</a>
                    </p>

                    <p>
                        Zoom effects:
                        <a href="#demoModal" class="modal-box" data-animation-open="zoomIn" data-animation-close="zoomOut">zoomIn</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="zoomInDown" data-animation-close="zoomOutDown">zoomInDown</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="zoomInUp" data-animation-close="zoomOutUp">zoomInUp</a>

                        <a href="#demoModal" class="modal-box"
                           data-animation-open="zoomInLeft"
                           data-animation-close="zoomOutRight">zoomInLeft</a>

                        <a href="#demoModal" class="modal-box"
                           data-animation-open="zoomInRight"
                           data-animation-close="zoomOutLeft">zoomInRight</a>
                    </p>

                    <p>
                        Other effects:
                        <a href="#demoModal" class="modal-box" data-animation-open="lightSpeedIn" data-animation-close="lightSpeedOut">lightSpeedIn</a>
                        <a href="#demoModal" class="modal-box" data-animation-open="rollIn" data-animation-close="rollOut">rollIn</a>
                        <a href="#demoModal" class="modal-box"
                           data-animation-open="fadeIn"
                           data-animation-close="hinge"
                           data-animation-open-duration="600"
                           data-animation-close-duration="2000">hinge</a>
                    </p>
                </section>

                <section id="howToUse">

                    <h1><span class="glyphicon glyphicon-question-sign"></span> How to use</h1>
                    <p>Include plugin files:</p>

                    <pre class="prettyprint lang-html linenums">{% capture my_include %}{% include codes/includeFiles.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <p>Add modal  after <code>&lt;body&gt</code> tag:</p>
                    <pre class="prettyprint lang-html linenums">{% capture my_include %}{% include codes/modal.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <p>Show modal button:</p>
                    <pre class="prettyprint lang-html linenums">{% capture my_include %}{% include codes/button.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <p>Call the plugin when the body is on load:</p>
                    <pre class="prettyprint lang-js linenums">{% capture my_include %}{% include codes/callPlugin.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                </section>

                <section id="options">
                    <h1><span class="glyphicon glyphicon-cog"></span> Options</h1>

                    <table class="table table-striped table-popover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Property</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>openAnimationDuration</td>
                            <td>number</td>
                            <td>500</td>
                            <td>Set animation duration when opening modal</td>
                        </tr>
                        <tr>
                            <td>closeAnimationDuration</td>
                            <td>number</td>
                            <td>500</td>
                            <td>Set animation duration when closing modal</td>
                        </tr>
                        <tr>
                            <td>openAnimationEffect</td>
                            <td>string</td>
                            <td>default-in</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>closeAnimationEffect</td>
                            <td>string</td>
                            <td>default-out</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>closeOnEscape</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Allows the user to close the modal when press escape key.</td>
                        </tr>
                        <tr>
                            <td>autoClose</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Automatically close modal window.</td>
                        </tr>
                        <tr>
                            <td>autoCloseDelay</td>
                            <td>number</td>
                            <td>3000</td>
                            <td>Automatically close delay.</td>
                        </tr>
                        </tbody>
                    </table>
                </section>

                <section id="events">
                    <h1><span class="glyphicon glyphicon-flash"></span> Events</h1>

                    <pre class="prettyprint lang-js linenums">{% capture my_include %}{% include codes/events/howTo.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <table class="table table-striped table-popover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tip">
                            <td>
                                beforeOpen
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/events/beforeOpen.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>Before open modal</td>
                        </tr>
                        <tr class="tip">
                            <td>
                                afterOpen
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/events/afterOpen.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>After open modal</td>
                        </tr>


                        <tr class="tip">
                            <td>
                                beforeClose
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/events/beforeClose.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>Before close modal</td>
                        </tr>
                        <tr class="tip">
                            <td>
                                afterClose
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/events/afterClose.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>After close modal</td>
                        </tr>
                        </tbody>
                    </table>
                </section>

                <section id="methods">
                    <h1><span class="glyphicon glyphicon-plus"></span> Methods</h1>

                    <p>Accessing the API</p>
                    <pre class="prettyprint lang-js linenums">{% capture my_include %}{% include codes/api.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <table class="table table-striped table-popover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tip">
                            <td>
                                open
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/apiOpen.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>Open modal</td>
                        </tr>
                        <tr class="tip">
                            <td>
                                close
                                <div class="hidden">
                                    <pre class="prettyprint lang-js">{% capture my_include %}{% include codes/apiClose.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>
                                </div>
                            </td>
                            <td>Close modal</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}