{% include header.html %}

<main>
    <div class="container">
        <div class="row">
            <nav class="col-md-3 sidebar bs-docs-sidebar">
                {% include sidebar.html %}
            </nav>

            <div class="col-md-9">
                <section id="howToUse" class="group">

                    <h1>How to use</h1>
                    <p>Include plugin files:</p>

                    <pre class="prettyprint lang-html linenums">{% capture my_include %}{% include codes/includeFiles.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <p>Add modal  after <code>&lt;body&gt</code> tag:</p>
                    <pre class="prettyprint lang-html linenums">{% capture my_include %}{% include codes/modal.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <p>Show modal button:</p>
                    <pre class="prettyprint lang-html linenums">{% capture my_include %}{% include codes/button.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <p>Call the plugin when the body is on load:</p>
                    <pre class="prettyprint lang-js linenums">{% capture my_include %}{% include codes/callPlugin.html %}{% endcapture %}{{ my_include | xml_escape }}</pre>

                    <div id="options" class="subgroup">
                        <h1>Options</h1>

                        <table class="table table-striped table-popover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Property</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>openAnimationDuration</td>
                                <td>number</td>
                                <td>500</td>
                                <td>Set animation duration when opening modal</td>
                            </tr>
                            <tr>
                                <td>closeAnimationDuration</td>
                                <td>number</td>
                                <td>500</td>
                                <td>Set animation duration when closing modal</td>
                            </tr>
                            <tr>
                                <td>animationOpenEffect</td>
                                <td>string</td>
                                <td>default-in</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>animationCloseEffect</td>
                                <td>string</td>
                                <td>default-out</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>closeOnEscape</td>
                                <td>boolean</td>
                                <td>true</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>autoClose</td>
                                <td>boolean</td>
                                <td>false</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>autoCloseDelay</td>
                                <td>number</td>
                                <td>3000</td>
                                <td>4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="methods" class="subgroup">
                        <h4>Group A Sub 2</h4>
                    </div>

                    <div id="events" class="subgroup">
                        <h4>Group A Sub 2</h4>
                    </div>

                </section>
            </div>
        </div>
        <a href="#first" class="modal-box test1">Open modal-box 1</a>
        <a href="#first2" class="modal-box test2">Open modal-box 2</a>
        <a href="#first3" class="modal-box test3">Open modal-box 3</a>
        <a href="#first4" class="modal-box test4">Open modal-box 4</a>
    </div>
</main>

{% include footer.html %}